

header {    
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
section {
    background-color: #e9ffe9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
article {
    background-color:  #00ff7f;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;   

}

table, table td, table th{
    border-collapse:collapse;
     border: 1px solid black;
   
}


.negrita {
   font-weight: bold;
} 


#idArticle{
    min-height: 500px;
}

select{
    width: 75px;
}

footer {
    text-align: center;
    background-color:  #F6F7D9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.selects{
    width:120px;
}
select,label,input,button{
    display:block;
    margin-bottom:15px;
}
.quedaenlinea{
    display:inline-block;
}

#idBotonEstadisticas:focus, #idBotonEstadisticas.selected {
    background-color: #b2f7b2;
    outline: none;
}

#idBotonDatos:focus, #idBotonDatos.selected {
    background-color: #b2f7b2;
    outline: none;
}

a {
    color: red;
    
}

.anchoCupos {
    width: 60px;
}

.backRojo {
    background-color: red;
}

.ancho{
    width: 150px;
    
}

#idMapaUruguay {
    max-width:600px;
}
